.home {
    display: flex;
    flex-direction: column;
    align-items: center;

    .dropdown {
        appearance: none;
        width: 40vh;
        height: 7vh;
        border: 2px solid var(--highlight);
        border-radius: 20px;
        text-align-last: center;
        background-color: white;
        color: var(--main-dark);
        font-family: "Nunito", sans-serif;
        font-size: 2vh;
        margin-bottom: 20px;
    }

    .dropdown:focus {
        outline: none;
        background-color: va(--main-medium);
    }
}