.settings-page {
    .settings-toggle {
        display: flex;
        align-items: center;
        justify-content: center;

        button {
            margin: 1vh;
            width: 12vh;
            font-size: 1.5vh;
        }
    }

    .active {
        background-color: var(--highlight);
    }
}

.settings-box {
    width: 20vh;
    height: 6vh;
    border: 2px solid var(--highlight);
    text-align: center;
    background-color: var(--main-medium);
    color: white;
    font-family: "Nunito", sans-serif;
    font-size: 2vh;
    margin: 15px 0px;
    border-radius: 20px;
    
    &::placeholder {
        color: #e0e0e0;
    }
}

.settings-child {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2vh;
    flex-direction: column;
    gap: 1vh;
}