.add-week-page {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2vh;
    flex-direction: column;
    gap: 20px;

    input {
        height: 3vh;
    }

    select {
        height: 3vh;
    }
}