.spinner {
    font-size: 2rem;
    font-weight: bold;
    color: var(--highlight);
    animation: spin 1s linear infinite;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
