
@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

.nav-bar {
    background: var(--main-dark);
    width: 100%;
    height: 90px;
    top: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;

    h1 {
        color: var(--highlight);
        font-size: 4vh;
        font-family: "Jaro", sans-serif;
        font-optical-sizing: auto; 
        font-weight: 400;
        font-style: normal;
    }

    nav {
        color: white;
        font-size: 3vh;;
        font-family: "Nunito", sans-serif;
        text-decoration: none;

        a.active {
            svg{
                color: var(--highlight);
            }
        }
        
    }

    .left-nav {
        display: flex;
        position: relative; /* Make sure the icon is absolutely positioned inside */
        gap: 0px;

        .add {
            position: absolute;
            right: 5vh;  /* Adjust the position to your desired spot */
        }
    }
}